body,html {
    height: 100%;
}
.portada{
    color :gray;
    text-align: center;
    background-image:url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
    background-size: cover;
    
}

.overlay{
    background-color: rgb(0, 0,0,.8);
}
.portada h1 {
    padding-top:20%;
 }
.bg-light{
    background-color: transparent!important;
}
.viewportheight{
    height: 100vh;
}